<img style="padding-left: 30px;padding-top: 30px" src="<%= @actor.img %>">
<h1><%= @actor.name %></h1>
<p><%= @actor.bio %></p>
<% @actor.characters.each do |character| %>
  <%= link_to character.name, character %> in:<br> <% character.movies.map do |m| %>
    <%= link_to m.name, m %><br>
  <% end %><br>
<% end %>
