<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
      .margin {
        margin-left:5px;
      }
    </style>
  </head>
  <body>
    <div class="margin">


    <img style="padding-left: 10px;padding-top: 30px" src="<%= @actor.img %>">
    <h1><%= @actor.name %></h1>
    <p><%= @actor.bio %></p>
    <% @actor.characters.each do |character| %>
      <%= link_to character.name, character %> in:<br> <% character.movies.map do |m| %>
        <%= link_to m.name, m %><br>
      <% end %><br>
    <% end %>
    </div>
  </body>
</html>
