<img style="width:15%;" src="<%= @movie.img %>">
<h1><%= @movie.name %></h1>
  <p> <strong>Genre:</strong> <%= @movie.genre %></p>
  <p> <strong>Budget:</strong> <%= number_with_delimiter(@movie.budget) %></p>
    <% if !@movie.producer.blank? %>
      <p> <strong>Producer:</strong> <%= @movie.producer %></p>
    <% else %>
      <p> <strong>Producer:</strong>  none </p>
    <% end %>
    <p><strong><u>Cast:</u></strong></p>
<% character = @movie.get_character(@movie.api_movie_id, @movie) %>
<% actor = @movie.get_actor(@movie.api_movie_id, @movie) %>
  <ul>
    <% character.each_with_index.map do |c, i| %>
    <li><%= link_to c, character_path(Character.find_by(name: c))%> - <%= link_to actor[i], actor_path(Actor.find_by(name:actor[i])) %></li>
    <% Role.find_or_create_by(actor_id: Actor.find_by(name: actor[i]).id, character_id: Character.find_by(name: c).id) %>
    <% Appearance.find_or_create_by(character_id:Character.find_by(name: c).id, movie_id: @movie.id) %>
    <% Cast.find_or_create_by(actor_id:Actor.find_by(name: actor[i]).id, movie_id: @movie.id) %>
    <% end %>
  </ul>
