
<img style="width:20%;" src="<%= @movie.img %>">
<h1><%= @movie.name %></h1>
  <p> <strong>Genre:</strong> <%= @movie.genre %></p>
  <p> <strong>Budget:</strong> $<%= number_with_delimiter(@movie.budget) %></p>
    <% if !@movie.producer.blank? %>
      <p> <strong>Producer:</strong> <%= @movie.producer %></p>
    <% else %>
      <p> <strong>Producer:</strong>  none </p>
    <% end %>
    <p><strong><u>Cast:</u></strong></p>
<% @characters = @movie.get_character(@movie) %>
<% if @character != [] %>
<% @actors = @movie.get_actor(@movie)%>
  <ul>
    <% @characters.each_with_index.map do |c, i| %>
  
    <li><%= link_to c, c%> - <%= link_to @actors[i].name, @actors[i] %></li>
    <% @movie.find_or_create_roles(@actors[i].id, @movie.find_character(c).id) %>
    <% @movie.find_or_create_appearance(@movie.find_character(c).id, @movie.id) %>
    <% @movie.find_or_create_cast(@actors[i].id, @movie.id) %>
    <% end %>
    <% else  %>
    <%=  "Nothing Found" %>
    <% end %>
  </ul>
