<!DOCTYPE html>
<html>
  <head>
    <title>Movies</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
      <style>
        h3 {
          float:right;
          color: blue
        }

        .rating {
          clear: right;
          float: right;
          border-style: solid;
          padding-right: 10px
        }
        .search {
          position: absolute;
          right: 0px;
          width: 300px;
          padding: 10px;
        }
        ul.nav {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }

        ul.nav li {
            float: left;
        }

        ul.nav li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        ul.nav li a:hover {
            background-color: #AAA;
        }

        ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #fff;
      }
      </style>

    </head>

    <body>
      <div class="headlines">


      <table>
      <ul class="nav">
      <li ><%= link_to "Home", home_path %></li>
      <li ><%= link_to "Movies", movies_path %></li>
      <li ><%= link_to "Characters", characters_path %></li>
      <li ><%= link_to "Actors", actors_path %></li>
      <li ><%= link_to "Search", search_path %></li>
      <li ><%= link_to "Log In", login_path %></li>
      <li ><%= link_to "Sign Up", signup_path %></li>


  </ul>
  </table>
    </div>
    <h3>Our Most Popular Movies:</h3>
    <% pop = RestClient.get("https://api.themoviedb.org/3/movie/popular?api_key=945dbc0976d1fcb4db817690ca47fd3b&language=en-US&page=1") %>
    <% parsed_pop = JSON(pop) %>
    <ol class="rating">
    <% parsed_pop["results"].sort_by{|a| -a["vote_average"] }.each do |p| %>
    <li><%= p["title"] %> - <%= p["vote_average"] %></li>
    <% end %>
    </ol>
    <%= yield %>
  </body>
</html>
